{% extends "./templates/base.html" %}

{% set title = "Index" %}

{% block body %}
  {% if user %}
    <form action="/" method="POST">
      <label for="todo">Add todo</label>
      <input type="text" name="todo" id="todo" required />
      <input type="submit" value="Add" />
    </form>

    <ul>
      {% for todo in todos %}
        <li>{{ todo.content }} (<a href="/{{ todo.id }}/edit">Edit</a>, <a href="/{{ todo.id }}/delete">Delete</a>)</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
